<!doctype html>
<html>
  <head>
    <title>Yive's Mirror | <%= @page %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Yive">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
    <link rel="stylesheet" href="/dist/tooltip.min.css" />
    <style>
      .panel-block {
        display: block;
      }
      .hero.is-info .tabs.is-boxed a:hover,
      .hero.is-info .tabs.is-toggle a:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      .title a {
        color: inherit;
      }
      .modal-content .panel .panel-block {
        background-color: white;
      }
      .modal-content .panel .panel-heading {
        border-top-left-radius:0;
        border-top-right-radius:0;
      }
      .footer {
        padding: 2rem 2rem 2rem;
      }
    </style>
  <head>
  <body>
    <section class="hero is-info is-medium" style="background-repeat: no-repeat;background-size: cover;background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/dist/header.jpg);background-position: center;">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">Yive's Mirror</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <%= content %>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p><strong>Yive's Mirror</strong> was not affliated with Mojang nor any of the software that was hosted here.</p>
        </div>
      </div>
    </footer>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52657458-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-52657458-3');
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
  </body>
</html>